{% extends 'parents/base_parents.html' %}

{% block title %}Индивидуальные занятия{% endblock %}
{% block content %}
<main class="fade-in">
  <div class="page-content">
    <div class="tile-wide">
      <h2>Групповые занятия</h2>
      <p>Занятия в малых группах (2&ndash;4 человека) позволяют снизить стоимость на одного человека,
        но требуют синхронного набора нескольких человек со сходными требованиями и начальным уровнем</p>
    </div>

    <div class="tile-medium-row">
      <div class="tile-medium">
        <h3>Набор групп</h3>
        <h4>На 2025/26 учебный год набора нет</h4>
        <p>
          К сожалению, открытого набора групп на ближайший учебный год нет. Договориться о групповых занятиях можно,
          если у вас уже есть знакомые с требованиями, сходными с вашими; например, одноклассники,
          которые тоже ищут репетитора.
        </p>
        <h4>Набор на 2026/27 учебный год</h4>
        <p>
          Если вы приближаетесь к старшим классам и только начинаете задумываться о необходимости репетитора в следующем
          учебном году &mdash;&nbsp;вы можете сообщить мне об этом, и договориться о групповых занятиях в 2026/27 году, если
          найдутся другие желающие. Обычно это имеет смысл делать, если вас интересуют программы ЕГЭ/ОГЭ в 9&mdash;11 классах.
          Найти группу для подготовки к нестандартным экзаменам и олимпиадам обычно сложно.
        </p>
      </div>
      <div class="tile-medium">
        <h3>Стоимость и продолжительность групповых занятий</h3>
        <p>
          Занятия в малых группах дешевле для каждого из их участников. Ниже приведены цены для занятий со школьниками
          по стандартным программам ЕГЭ/ОГЭ. Групповые занятия со студентами или олимпиадниками обсуждаются индивидуально.
        </p>
        <ul>
          <li class="accent">Группа 2 человека (скидка ~30%)</li>
          <ul>
            <li><strong>60 мин</strong>: 1900&nbsp;р</li>
            <li><strong>90 мин</strong>: 2600&nbsp;р</li>
          </ul>
          <li class="accent">Группа 3 человека (скидка ~40%)</li>
          <ul>
            <li><strong>60 мин</strong>: 1600&nbsp;р</li>
            <li><strong>90 мин</strong>: 2200&nbsp;р</li>
          </ul>
          <li class="accent">Группа 4 человека (скидка ~50%)</li>
          <ul>
            <li><strong>60 мин</strong>: 1300&nbsp;р</li>
            <li><strong>90 мин</strong>: 1800&nbsp;р</li>
          </ul>
        </ul>
        <p>
          Если вы сами собрали целую группу возможны дополнительные скидки.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
