{% extends 'parents/base_parents.html' %}

{% block title %}Индивидуальные занятия{% endblock %}
{% block content %}
<main class="fade-in">
  <div class="page-content">
    <div class="tile-wide">
      <h2>Индивидуальные занятия</h2>
      <p>Индивидуальные занятия по физике провдятся преимущественно в онлайн формате
        со школьниками 7&ndash;11 классов и студентами 1&ndash;3 курсов. Ориентировочная стоимость
        занятий от 2700 рублей в час.
      </p>
    </div>

    <div class="tile-medium-row">
      <div class="tile-medium-column">
        <div class="tile-medium">
          <h3>Расписание</h3>
          <p class="accent">
            На данный момент расписание на 2025/26 учебный год, к сожалению, перегружено и новый набор на индивидуальные занятия в стандартное время (будни после 16:00 и выходные) закрыт. Вы можете написать мне, если вас интересуют занятия в следующем учебном году или в нестандартное время; например, в будни утром. 
          </p>
        </div>
        <div class="tile-medium">
          <h3>Формат занятий</h3>
          <p>
            В большинстве случаев занятия проводятся онлайн на платформе
            <a href="https://meet.google.com/">Google meet</a>. Для занятий
            требуется компьютер (не телефон), микрофон и колонки/наушники.
            Установка специального ПО не требуется, видеосвязь через эту
            платформу доступна из браузера.
          </p>
          <p>
            Также, разумеется, требуется ручка и бумага, линейка. Веб-камера
            желательна, но не строго необходима.
          </p>
          <p>
            Для занятий по типовым программам ЕГЭ/ОГЭ в качестве основного
            методического материала используется мой
            <a href="https://stepik.org/a/250964/pay?promo=8bed6d115581da30">курс для индивидуальной подготовки</a>
            на платформе Степик, содержащий все необходимые задачи и теоретические сведения и позволяющий
            заниматься с необходимой частотой и интенсивностью вне зависимости от моего расписания. Для всех,
            кто занимается со мной индивидуально, стоимость курса (курс платный по условиям платформы) вычитается
            из стоимости первых занятий.
          </p>
          <p class="accent">
            В большинстве случаев одного занятия в неделю <strong>недостаточно</strong> для успешного освоения
            школьной программы в сжатые сроки одного-двух лет. Выполнение домашних заданий 2&ndash;4 раза в неделю между индивидуальными занятиями
            строго необходимо для твёрдого запоминания материала.
          </p>
          <p>
            По ходу занятий родители будут получать регулярные отчёты о выполнении домашних заданий и общем успехе
            их детей, в особенности при наличии признаков отставания от необходимого темпа освоения материала.
          </p>
        </div>
        
      </div>
      <div class="tile-medium">
        <h3>Стоимость и продолжительность занятий</h3>
        <h4>Подготовка к ЕГЭ и ОГЭ, повышение успеваемости в школе.</h4>
        <ul class="accent">
          <li><strong>60 мин</strong>: 2700&nbsp;р</li>
          <li><strong>90 мин</strong>: 3800&nbsp;р</li>
        </ul>
        <p>
          В большинстве случаев оптимальным вариантом продолжительности занятий будет одно 90 минутное или два 60 минутных занятия в неделю, но рекомендации зависят от времени до экзамена и начального уровня. В стоимость занятий включены все дополнительные материалы моего авторства.
        </p>
        <h4>Подготовка к олимпиадам</h4>
        <p>
          Стоимость занятий и их рекомендуемая частота начинаются от тех же отметок, но могут быть несколько
          выше в зависимости от сложности поставленных задач.
        </p>
        <h4>Занятия со студентами</h4>
        <p>
          Занятия со студентами 1&ndash;2 курсов профильных физико-математических вузов и со студентами любых курсов смежных профилей (физика в химических, биологических, медицинских, информационных и т.п. вузах).
        </p>
        <ul class="accent">
          <li><strong>60 мин</strong>: 3000&nbsp;р</li>
          <li><strong>90 мин</strong>: 4200&nbsp;р</li>
        </ul>
        <h4>Занятия со студентами и школьниками за&nbsp;рубежом</h4>
        <p>
          На достаточном уровне для чтения профильных материалов и не безупречного говорения я владею английским, французским и испанским языками.
          При необходимости заниматься по материалам иностранных вузов и школ, объяснять и переводить отдельные термины и задания ориентировочная стоимость
        </p>
        <ul class="accent">
          <li><strong>60 мин</strong>: 3300&nbsp;р</li>
          <li><strong>90 мин</strong>: 4600&nbsp;р</li>
        </ul>
        <p>
          При необходимости полностью вести занятия на иностранном языке условия оговариваются индивидуально. В достаточном для этого объёме я владею только английским.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
