{% extends 'parents/base_parents.html' %}

{% block title %}Самостоятельное обучение{% endblock %}
{% block content %}
<main class="fade-in">
  <div class="page-content">
    <div class="tile-wide">
      <blockquote>Ничему нельзя научить, но всему можно научиться.
        <p>&mdash;&nbsp;К.С.&nbsp;Станиславский</p>
      </blockquote>
      <p>
        В значительной степени работа преподавателя состоит из правильного подбора учебников и упражнений,
        и для типовых задач этот подбор был уже многократно сделан. Разумеется, объяснения репетитора могут
        упростить и ускорить процесс обучения, но нет ничего такого, что нельзя было бы компенсировать
        усердием и усидчивостью.
      </p>
      <p>
        В разделе <a href="/students/materials">Материалы</a> вы найдёте большое количество хорошей литературы
        с советских до самых современных времён, отобранной для помощи разным классам в самостоятельном изучении
        физики.
      </p>
      <p>
        Для помощи в самостоятельном освоении школьной программы по физике мной разработан курс
        <a href="https://stepik.org/a/250964/pay?promo=8bed6d115581da30">"Физика&nbsp;с&nbsp;азов"</a> на платформе
        Stepik, который подойдёт вам, если ваша задача &mdash;&nbsp;ОГЭ/ЕГЭ или общее повышение успеваемости.
        Курс практически не требует предварительных знаний физики, но общая строгость языка и ссылки на
        необходимые знания математики лучше подойдут для учащихся <strong class="accent">9&ndash;11 классов</strong>.
      </p>
    </div>

    <div class="tile-medium-row">
      <div class="tile-medium-column">
        <div class="tile-medium">
          <h3>Ссылки и стоимость курса</h3>
          <p>
            Курс состоит из четырёх крупных блоков, соответствующих главным темам школьной физики:
          </p>
          <el class="accent">
            <li><a href="https://stepik.org/a/181761/pay?promo=5c4ed9e5dbee7649">Механика</a></li>
            <li><a href="https://stepik.org/a/194678/pay?promo=f83035353fba4391">Молекулярная физика и термодинамика</a></li>
            <li><a href="https://stepik.org/a/210932/pay?promo=0166afefcf2bb2e3">Электричество и магнетизм</a></li>
            <li><a href="https://stepik.org/a/237557/pay?promo=31c5042af20883b9">Оптика и квантовая физика</a></li>          
          </el>
          <p>
            Стоимость каждой части составляет около <strong class="accent">2000 р</strong> и немного
            отличается для разных частей в зависимости от их объёма.
            Вы можете приобрести любой из этих курсов отдельно
            или <a href="https://stepik.org/a/250964/pay?promo=8bed6d115581da30">всю программу целиком</a> за <strong class="accent">6000 р</strong>.
            Обратите внимание: ссылки на этом сайте содержат промокод. Перейдя по ним или поделившись ими,
            вы получите дополнительные скидки около 20%.
          </p>
        </div>
        <div class="tile-medium">
          <h3>Сколько времени нужно на освоение курса?</h3>
          <p>
            Универсального ответа на этот вопрос, разумеется, не существует. Всё зависит от начальных
            знаний и упорства ученика. Но по моему опыту комфортным временем полного освоения курса будут
            <strong class="accent">2 года</strong>, поэтому лучше всего начинать в 9 или 10 классе.
            Такие оценки подразумевают систематическую работу 3&ndash;4 раза в неделю без экстремальных
            нагрузок, но и без прогулов. Курс <strong class="accent">большой</strong>, он включает всю
            школьную программу и даже несколько недораскрытых в ней, но важных тем.
          </p>
          <p>
            Курс разбит на уроки по 16 шагов (задачек). Желательно проходить по одному полному уроку
            3&ndash;4 раза в неделю. Таких уроков в полном курсе <strong class="accent">225</strong>,
            поэтому при работе в указанном темпе потребуется 55&mdash;75 недель на полное прохождение курса.
          </p>
        </div>
      </div>
      <div class="tile-medium-column">
        <div class="tile-medium">
          <h3>Как устроен курс?</h3>
          <p>
            Курс практически целиком состоит из задач, организованных в такой последовательности,
            чтобы решение предыдущих задач подсказывало ход решения следующих. Там, где самостоятельно
            дойти до решения сложно, к задачам добавлены теоретические блоки и подсказки. Давая неправильный
            ответ, учащиеся также видят подсказки. Теория разбита на маленькие кусочки, не больше страницы
            текста, а чаще всего &mdash;&nbsp;буквально 2&ndash;3 абзаца между заданиями, и не позволяет
            учащемуся "задремать" и потеряться в тексте. Все знания, усвоенные в теории, тут же отрабатываются
            на практике.
          </p>
          <p>
            Таким образом, структура курса подражает классической схеме
            работы на занятии: преподаватель даёт небольшое количество теоретических сведений, проверяет
            их задачей и в случае если что-то не получилось &mdash;&nbsp;даёт подсказку. Если же решить задачу
            всё равно не получается &mdash;&nbsp;под каждой задачей есть секция обсуждения, на вопросы в которой
            я стараюсь отвечать максимально оперативно.
          </p>
          <p>
            Курс включает в себя большое количество интервального повторения: задачи на пройденные темы
            возвращаются вновь сперва через небольшое, затем &mdash;&nbsp;через всё большее время, что позволяет
            им лучше отложиться в памяти.
          </p>
        </div>
        <div class="tile-medium">
          <h3>Курсы для студентов</h3>
          <p>
            Для студентов младших курсов мной на той же платформе
            разработан <a href="https://stepik.org/course/196752/">
            бесплатный курс по электродинамике</a>,
            доступный для всех желающих. Но он меньше по объёму
            и предполагает более высокий начальный уровень,
            в особенности &mdash;&nbsp;математики.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
